
body{
  margin: 0;
  text-align: center;
  /* ths centre element wll set everythiing into centre ethout that wth wdth element so keep in mind */
font-family: 'Merriweather', serif;


}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  top: 300px;
}

